{% extends 'base.html.twig' %}

{% block title %}Site de cuisine{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 2em auto; max-width: 800px; width: 55%; font: 25px/1.5 sans-serif; }
    .example-wrapper code { background: #f7f7f7; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ceci est un site de cuisine ! 🥙</h1>
<p>
  <img class="h-[350px]" src="{{ asset('images/burger.jpg') }}" alt="Mon image de Burger" />
</p>
</div>
{% endblock %}
